@inject NavigationManager NavigationManager

@if (item != null)
{

        <tr>
        <td>@item.ResourceTypeId</td>
        <td>@item.Name</td>
        <td>@item.Vendor</td>
        <td>@item.Product</td>
        <td>@item.LifeCycleId</td>
        <td>@item.LifeCycleName</td>
        <td>@item.CategoryId</td>
        <td>@item.CategoryName</td>



            <td>
                <button type="button" class="btn btn-light"
                @onclick="@(() => EditLabel(item.ResourceTypeId))">
                    Edit
                </button>
            </td>
        </tr>
    
} else {
    <tr>
        <td colspan="3">No Data Found</td>
    </tr>
}

@code {
    [Parameter]
    public VResourceType item { get; set; }
    private void EditLabel(int ID)
    {
        NavigationManager.NavigateTo($"/ouEdit/{ID}");
    }
}
