@page "/datalist2"
@inject IViewCategoryRepository ViewCategoryRepository

<h3 class="mt-4">Example Datagrid using Radzen Blator Components</h3>
<RadzenDataGrid TItem="VCategory" Data="@data"AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Center" AllowSorting="true" 
    PageSizeOptions="@pageSizeOptions" ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat" Page="@OnPage">
    <EmptyTemplate>
        <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
    </EmptyTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="VCategory" Property="CategoryId" Title="Category ID"  TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="VCategory" Property="Name" Title="Category Name" />
        <RadzenDataGridColumn TItem="VCategory" Property="LifeCycleId" Title="LifeCycle ID" />
        <RadzenDataGridColumn TItem="VCategory" Property="LifeCycleName" Title="LifeCycle Name" />
    </Columns>
</RadzenDataGrid>

@code {
    IEnumerable<int> pageSizeOptions = new int[] { 5, 10, 20, 30 };
    string pagingSummaryFormat = "Displaying page {0} of {1} (total {2} records)";

    bool showPagerSummary = true;
    RadzenDataGrid<VCategory> dataGrid;

    async Task FirstPage()
    {
        await dataGrid.FirstPage();
    }
    async Task TenthPage()
    {
        await dataGrid.GoToPage(9);
    }
    async Task LastPage()
    {
        await dataGrid.LastPage();
    }
    string emptyText = "No Items to display!";
   // List<Category> data = new List<Category>();
    private IEnumerable<VCategory> data;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        data = ViewCategoryRepository.GetAll();
    }
    void OnPage(PagerEventArgs args)
    {
        //
    }
}